<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Found</title>
</head>
<body>
    <%- include('../../component/navbar') %>
    <a href="/Books/create">Tambah Buku</a>
     <div style="text-align: center; font-size: 40px;">
        <h1>404</h1>
        <h1>Not Found</h1>
        <h2>Data <%=id%> tidak ditemukan</h2>
     </div>
    <footer>
        <p>&copy; 2024 Express JS</p>
    </footer>
</body>
</html>
